<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YouTube</title>
	<link rel="website icon" href="Youtube-Icon.png">
	<link rel="stylesheet" href="index_style.css">
</head>
<body style = "background: transparent; font-family: sans-serif;">
	<nav class="flex-div">
		<div class="nav-left flex-div"> 
			<img src="images/menu.png" class="menu-icon">
			<img src="images/logo.png" class="logo">
		</div>
		<div class="nav-middle flex-div">
			<div class="search-box flex-div">
				<input type="text" placeholder="Search">
				<img src="images/search.png" class ="search-icon">
			</div>
			<img src="images/voice_search.png" class="voice-icon">
		</div>
		<div class="nav-right flex-div">
			<img src="images/upload.png">
			<img src="images/more.png">
			<img src="images/notification.png">
			<img src="images/Dennis.jpg" class="user-icon">
		</div>
	</nav>
	<!-- ---------------------sidebar------------------------------------ -->
	<div class="sidebar">
		<div class="shortcut-links">
			<a href=""><img src="images/home.png"><p>Home</p></a>
			<a href=""><img src="images/shorts.png"><p>Shorts</p></a>
			<a href=""><img src="images/subscriptions.png"><p>Subscriptions</p></a>
			<hr>
			<a href=""><img src="images/library.png"><p>Library</p></a>
			<a href=""><img src="images/history.png"><p>History</p></a>
			<a href=""><img src="images/your_videos.png"><p>Your videos</p></a>
			<a href=""><img src="images/watch_later.png"><p>Watch Later</p></a>
			<a href=""><img src="images/like.png"><p>Liked videos</p></a>
			<a href=""><img src="images/show-more.png"><p>Show more</p></a>
			<hr>
		</div>
		<div class="subscribed-channels">
			<p>Subscriptions</p>
			<a href="https://www.youtube.com/@Bynx_Plays"><img src="images/bynx.jpeg"><p>Bynx_Plays</p></a>
			<a href="https://www.youtube.com/@Gorgc"><img src="images/gorgc.jpeg"><p>Gorgc</p></a>
			<a href="https://www.youtube.com/@NoobFromUA"><img src="images/noobfromua.jpeg"><p>NoobFromUA</p></a>
			<a href="https://www.facebook.com/kaisheng.neoh"><img src="images/ks.jpg"><p>Sohai Sheng</p></a>
		</div>	
	</div>
	<!-- --------------------main---------------------------------------------- -->
	<div class="container">
		<div class="content-header flex-div">
			<a href=""><p>All</p></a>
			<a href=""><p>Gaming</p></a>
			<a href=""><p>Dota 2</p></a>
			<a href=""><p>MARVEL SNAP</p></a>
			<a href=""><p>Computer Programming</p></a>
			<a href=""><p>Music</p></a>
			<a href=""><p>Live</p></a>
			<a href=""><p>Trailers</p></a>
			<a href=""><p>Ruby</p></a>
			<a href=""><p>JavaScript</p></a>
		</div>

		<div class="videos-container">
			<div class="videos-list flex-div">
				<div class="videos">
					<img src="images/marvelsnap.png">
					<div class="info flex-div">
						<div class="uploader">
							<img src="images/bynx.jpeg">
						</div>
						<div class="title">
							<p>DESTROY. EVERYTHING. What if your entire deck is Alioth??</p>
						</div>
					</div>
				</div>
				<div class="videos">
					<img src="images/JSCourse.png">
					<div class="info flex-div">
						<div class="uploader">
							<img src="images/ks.jpg">
						</div>
						<div class="title">
							<p>JavaScript Full Course (2023) - Beginner to Pro - Part 1</p>
						</div>
					</div>
				</div>
				<div class="videos">
					<img src="images/topson.png">
					<div class="info flex-div">
						<div class="uploader">
							<img src="images/noobfromua.jpeg">
						</div>
						<div class="title">
							<p>TOPSON IS BACK TO PRO DOTA 2 !! TUNDRA vs GG</p>
						</div>
					</div>
				</div>				
			</div>
			<div class="videos-list flex-div">
				<div class="videos">
					<img src="images/XOXO.png">
					<div class="info flex-div">
						<div class="uploader">
							<img src="images/blacklabel.png">
						</div>
						<div class="title">
							<p>JEON SOMI (전소미) - 'XOXO' M/V</p>
						</div>
					</div>
				</div>
				<div class="videos">
					<img src="images/cake.png">
					<div class="info flex-div">
						<div class="uploader">
							<img src="images/JYP.png">
						</div>
						<div class="title">
							<p>ITZY "CAKE" M/V @ITZY</p>
						</div>
					</div>
				</div>
				<div class="videos">
					<img src="images/aquaman.png">
					<div class="info flex-div">
						<div class="uploader">
							<img src="images/dc.png">
						</div>
						<div class="title">
							<p>Aquaman and the Lost Kingdom | Trailer</p>
						</div>
					</div>
				</div>				
			</div>
			<div class="videos-list flex-div">
				<div class="videos">
					<img src="images/topson.png">
					<div class="info flex-div">
						<div class="uploader">
							<img src="images/noobfromua.jpeg">
						</div>
						<div class="title">
							<p>TOPSON IS BACK TO PRO DOTA 2 !! TUNDRA vs GG</p>
						</div>
					</div>
				</div>
				<div class="videos">
					<img src="images/marvelsnap.png">
					<div class="info flex-div">
						<div class="uploader">
							<img src="images/bynx.jpeg">
						</div>
						<div class="title">
							<p>DESTROY. EVERYTHING. What if your entire deck is Alioth??</p>
						</div>
					</div>
				</div>
				<div class="videos">
					<img src="images/JSCourse.png">
					<div class="info flex-div">
						<div class="uploader">
							<img src="images/ks.jpg">
						</div>
						<div class="title">
							<p>JavaScript Full Course (2023) - Beginner to Pro - Part 1</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>