<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YouTube</title>
	<link rel="website icon" href="Youtube-Icon.png">
	<link rel="stylesheet" href="index_style.css">
</head>
<body>

	<p>Welcome to YouTube.</p>
	<form action="/search" method="post">
	<input type="text" name="search">
	<button type="submit"></button>

	<div class = "container">
		<div class = "row">
			<div class="col-3">
				<p>one</p>
			</div>
			<div class="col-3">
				<p>two</p>
			</div>
			<div class="col-3">
				<p>three</p>
			</div>
			<div class="col-3">
				<p>four</p>
			</div>
		</div>
	</div>
</body>
</html>
<a href="https://youtu.be/YXgXw25E5RU?t=45">ClickMe</a>